<div class="content" role="main">
  <h2 style="text-align: center;">Описание функционала компоновщика докладов.</h2>

  <p-panel header="Главная страница" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <p  style="text-align: center;"><img src="../../assets/img/main_view.png" style="width: 60%;"></p>
    <p>На главной странице представлен основной функционал компановщика докладов.</p>
    <ul>
      <li>Просмотр списка групп докладов.</li>
      <li>Создание нового доклада.</li>
      <li>Управление параметрами доклада.</li>
      <li>Просмотр файлов.</li>
      <li>Кнопка Выход.</li>
    </ul>
    <p>Описание функционалаtext</p>
    <p>Описание функционалаtext</p>
    <p>Описание функционалаtext</p>
    <p>Описание функционалаtext</p>
    <p>Описание функционалаtext</p>
    <p>Описание функционалаtext</p>
  </p-panel> 

    <p-panel header="Блок Доклады" [toggleable]="true" [style]="{'margin-bottom':'20px'}">      
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
    </p-panel>

    <p-panel header="Блок Конструктор" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
    </p-panel>

    <p-panel header="Блок Управление" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
    </p-panel>

    <p-panel header="Блок Просмотр" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
      <p>Описание функционалаtext</p>
    </p-panel> 

</div>