<!-- ГЛАВНАЯ -->
<div class="maincontent" role="main">
    <h2>Добро пожаловать в компоновщик докладов.</h2>
    <br><br><br>
    <p>Для создания нового доклада нажмите на кнопку</p>
    <a routerLink="/newdoklad">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Создать доклад</span>
      </div>
    </div>
    </a>
    <br><br>
    <p>Для знакомства с функционалом нажмите на кнопку</p>
    <a routerLink="/about">
    <div class="card-container">
      <div class="card card-small" tabindex="0">        
        <span>Инструкция</span>
      </div>
    </div>
    </a>

    <!-- Footer -->
    <footer>
        <div>2020</div>
    </footer>
  </div>